---
import Layout from '../layouts/Layout.astro';
import TransactionForm from '../components/TransactionForm';
---

<Layout title="Investment dashboard">
	<main class="m-5">
    <div class="shadow-md max-w-[500px] p-5">
      <TransactionForm client:load></TransactionForm>
    </div>

	</main>
</Layout>
